@model HaberPortali2.Models.Comment

@{
    ViewData["Title"] = "Yorum Düzenle";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3 class="fw-bold mb-4">✏ Yorum Düzenle</h3>

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="NewsId" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="CreatedDate" />

    <div class="mb-3">
        <label class="form-label">Yorum</label>
        <textarea asp-for="Text"
                  class="form-control"
                  rows="5"
                  required></textarea>
    </div>

    <button class="btn btn-success">
        Kaydet
    </button>

    <a href="/Admin/Comment"
       class="btn btn-secondary ms-2">
        İptal
    </a>
</form>
